<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>The Great Vine</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div class="brand">
                <a href="index.html">TGV</a>
            </div>
            <div class="">
                <a href="cart.html">Cart</a>
                <a href="Sign In">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/black-watch.jpg" alt="black watch">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Geo 6</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$650</div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/black-watch.jpg" alt="black watch">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Geo 6</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$650</div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/black-watch.jpg" alt="black watch">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Geo 6</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$650</div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/black-watch.jpg" alt="black watch">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Geo 6</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$650</div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/black-watch.jpg" alt="black watch">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Geo 6</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$650</div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/black-watch.jpg" alt="black watch">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Geo 6</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$650</div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">Developed <a href="paliemmanuel.com" target="_blank"><span>Emmanuel Pali</span></a> All rights reserved</footer>
    </div>
    
</body>
</html>